[submodule "shodan/Classes/External/CMPopTipView"]
	path = shodan/Classes/External/CMPopTipView
	url = git://github.com/chrismiles/CMPopTipView.git
[submodule "shodan/Classes/External/shodan-objc"]
	path = shodan/Classes/External/shodan-objc
	url = git://github.com/ipwnstuff/shodan-objc
