<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SHODAN</string>
			<key>FooterText</key>
			<string>Change this API Key to your personal Developer API Key for cool features.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>API Key</string>
			<key>Key</key>
			<string>api</string>
			<key>DefaultValue</key>
			<string>ueZLMDjY4xBU5DbhR76ROvOEQP7Vj8FO</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>API Features</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Credits remaining</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>unlocked_left</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Telnet</string>
			<key>DefaultValue</key>
			<string>Disabled</string>
			<key>Key</key>
			<string>telnet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Plan</string>
			<key>DefaultValue</key>
			<string>Open Source Software</string>
			<key>Key</key>
			<string>plan</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>HTTPS</string>
			<key>DefaultValue</key>
			<string>Disabled</string>
			<key>Key</key>
			<string>https</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Unlocked</string>
			<key>DefaultValue</key>
			<string>Disabled</string>
			<key>Key</key>
			<string>unlocked</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>FooterText</key>
			<string>SHODAN Copyright © 2010 John Matherly.
SHODAN for iOS devices created by Erran Carey.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Credits</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.0.4</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
